<div>
  <div class="flex items-center gap-3 mb-5">
    <a class="text-gray-500 text-2xl p-1 hover:opacity-75" routerLink="/">
      <i class="bi bi-arrow-left-circle"></i>
    </a>
    <h1 class="text-4xl font-extrabold leading-none tracking-tight text-orange-600 md:text-5xl lg:text-6xl">{{nameCuisine}} Menu</h1>
  </div>

  <ul role="list" class="divide-y divide-gray-100" *ngFor="let item of foodmenu">
    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex gap-x-4">
        <div class="contents">
          <img
            class="h-24 w-24 flex-none rounded-full"
            *ngIf="item.foodImage"
            [src]="'data:'+item.foodImage.mime+';base64, '+item.foodImage.base64Image"
            alt="Food" />
          <div class="h-24 w-24 flex-none rounded-full bg-slate-400" *ngIf="!item.foodImage"></div>
        </div>
        <div class="min-w-0 flex-auto flex-wrap">
          <span class="text-sm font-semibold leading-6 text-gray-900 mr-2">{{item.name}}</span>
          <span class="bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0 rounded">{{categoria(item.categoryId)}}</span>
          <p class="mt-1 text-xs leading-5 text-gray-500 break-all">{{item.description}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
