<div>
  <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-orange-600 md:text-5xl lg:text-6xl">Cuisines</h1>

  <ul role="list" class="divide-y divide-gray-100">
    <li class="flex justify-between gap-x-6 py-5" *ngFor="let item of cuisines">
      <div class="flex gap-x-4">
        <div class="min-w-0 flex-auto">
          <a
            class="text-2xl font-semibold leading-6 text-gray-900 hover:opacity-75 flex items-end gap-3"
            [routerLink]="'/food-menu/'+item.name+'/'+item.id">
            <span>{{item.name}}</span>
            <i class="bi bi-box-arrow-up-right text-sm"></i>
          </a>
          <p class="mt-1 text-xs leading-5 text-gray-500">{{item.description}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
